@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --primary-font-family: "Chakra Petch";

    --bold-font-weight: 700;
    --semiBold-font-weight: 600;
    --regular-font-weight: 400;

    --primary-background-color: #090909;
    --primary-text-color: white;
    --primary-btn-color: #0068A2;
    --secondary-btn-color: #E41F12;

    --theme-icon-fill: rgba(255, 255, 255, 1);

    --big-font-size: 96px;
    --medium-font-size: 64px;
    --small-font-size: 32px;
    --very-small-font-size: 20px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 3 1fr;
    height: 100vh;
    background-color: var(--primary-background-color);
    justify-items: center;
    align-items: center;
    row-gap: 161px;
    /* margin: 0 61px 0 61px; */
}

.theme-icon {
    width: 40px;
    height: 40px;
    position: absolute;
    fill: var(--theme-icon-fill);
    filter: none;
    top: 0;
    right: 0;
    margin: 20px 20px 0 0;
}

.title {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: var(--medium-font-size);
    font-weight: var(--semiBold-font-weight);
    margin-top: 138px;
}

.score {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: var(--big-font-size);
    font-weight: var(--bold-font-weight);
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 30px; */
} 

.btn {
    font-family: var(--primary-font-family);
    color: var(--primary-text-color);
    font-size: var(--small-font-size);
    font-weight: var(--regular-font-weight);
}

.shape {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 66px;
    background-color: var(--primary-btn-color);
    border-radius: 30px;
}

.add {
    margin-bottom: 34px;
}

.reset {
    font-size: var(--very-small-font-size);
}

.reset .shape {
    width: 96px;
    height: 45px;
    background-color: var(--secondary-btn-color);
}